# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore alembic cache
alembic/__pycache__/

# Ignore environment files
.env

# Ignore local SQLite DB if you're using one
*.db
